---
layout: layouts/page
eleventyExcludeFromCollections: true
---

h1(class="my-12 text-4xl font-medium font-title dark:text-zinc-300")
    | Hi there! I’m Kabir, a junior studying computer science and public policy at UC Berkeley. Here, I write about programming, design, and the web.
include /subscribe
p(class="mt-1.5 text-xs text-gray-500 dark:text-zinc-400") Or follow on #[a(href="https://twitter.com/KabirGoel" class="border-b") Twitter]
section(class="mt-12")
    h2(class="flex items-center space-x-4 mb-8")
        span(class="font-semibold") Recently
        span(class="border-t flex-1")
    div(class="text-gray-600 dark:text-gray-300 space-y-4")
        p
            | I work part-time as a software engineer at #[a(href="https://pynecone.io" class="text-blue-800 dark:text-blue-300") Pynecone] and serve as VP of Projects at #[a(href="https://calblueprint.org" class="text-blue-800 dark:text-blue-300") Cal&nbsp;Blueprint].
            | Lately, I’ve been obsessed with low-code tools, AI, and end-user programming.
        p Check out #[a(href="https://twitter.com/KabirGoel/status/1643868228865916928" class="text-blue-800 dark:text-blue-300") Smoothie], my experiment in adapting computational notebooks to full-stack dev!
div(class="space-y-12 mt-12")
    each yearWithPosts in collections.postsByYear.slice().reverse()
        - const [year, yearPosts] = yearWithPosts
        section
            h2(class="flex items-center space-x-4 mb-8")
                span(class="font-semibold")= year
                span(class="border-t flex-1")
            div(class="grid gap-6 max-w-screen-sm")
                each post in yearPosts.slice().reverse()
                    a(href=post.url, class="grid group gap-1")
                        h3(class="leading-tight text-lg font-semibold text-blue-800 dark:text-blue-300 group-hover:text-amber-500 dark:group-hover:text-yellow-500 transition-colors") #{post.data.title}
                        p(class="text-gray-500 dark:text-zinc-400")= post.data.subtitle
                        p(class="text-gray-500 dark:text-zinc-400 font-sans whitespace-nowrap text-sm")= filters.readableDate(post.date).split(' ').slice(0, ).join(' ')
