---
import { twMerge } from "tailwind-merge";
import { barMask, VIEW_W, VIEW_H } from "./pixel-pattern";

type Props = {
    class?: string;
};

const { class: className } = Astro.props;

const { mask, viewH } = barMask();
---

<div
    class={twMerge(className)}
    style={`--dot-size:1em;height:calc(${viewH}*var(--dot-size));background-color:var(--color-muted);-webkit-mask-image:${mask};mask-image:${mask};mask-size:calc(${VIEW_W}*var(--dot-size)) 100%;mask-repeat:repeat-x`}
>
</div>
