---
import { twMerge } from "tailwind-merge";
import {
    getFilledCells,
    STEP,
    VIEW_W,
    BAR_HEIGHT,
    ROW_GAP,
} from "./pixel-pattern";

type Props = {
    class?: string;
};

const { class: className } = Astro.props;

const rowStep = BAR_HEIGHT + ROW_GAP;
const viewH = 3 * rowStep - ROW_GAP;
const rects = getFilledCells()
    .map(
        ({ c, r }) =>
            `<rect x="${c * STEP}" y="${r * rowStep}" width="1" height="${BAR_HEIGHT}"/>`,
    )
    .join("");
const mask = `url("data:image/svg+xml,${encodeURIComponent(`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ${VIEW_W} ${viewH}">${rects}</svg>`)}")`;
---

<div
    class={twMerge(className)}
    style={`--dot-size:1em;height:calc(${viewH}*var(--dot-size));background-color:var(--color-muted);-webkit-mask-image:${mask};mask-image:${mask};mask-size:calc(${VIEW_W}*var(--dot-size)) 100%;mask-repeat:repeat-x`}
>
</div>
